@import 'tailwindcss';

@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: oklch(0.65 0.22 41);
    --color-muted-foreground: oklch(0.6 0 0);
    --color-background: oklch(0.1 0 0);
    --color-foreground: oklch(0.96 0 0);
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-foreground font-sans antialiased;
    }

    *,
    ::before,
    ::after {
        border-color: oklch(1 0 0 / 0.1);
    }
}
